* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
}

h1 {
    padding: 20px 5px;
}

form {
    display: flex;
}

div:first-of-type,
div:nth-of-type(2),
div:last-of-type {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

button {
    margin-top: 15px;
}

table {
    margin: 10px 5px;
    width: 580px;
    border-collapse: collapse;
    
    
}

table th {
    background: orange;
    padding: 15px;
    font-size: 1em;
    text-transform: uppercase;
}

table th:nth-of-type(2) {
    background: darkorange;
}

table td {
    border: 2px solid orange;
    background: navy;
    color: white;
    padding: 15px;
}
